@value tablet-sm-portrait from "@/app/breakpoints.module.css";
@value phone-lg-portrait from "@/app/breakpoints.module.css";
@value phone-sm-portrait from "@/app/breakpoints.module.css";

.header {
  margin-top: 95px;

  .heading {
    font-size: 48px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: var(--fg-color);
  }

  @media (phone-lg-portrait) {
    .heading {
      font-size: 40px;
    }
  }

  .text {
    font-size: 20px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: var(--text-color);
  }

  @media (phone-lg-portrait) {
    .text {
      font-size: 18px;
    }
  }

  @media (phone-sm-portrait) {
    .text {
      font-size: 14px;
    }
  }

  @media (phone-lg-portrait) {
    .list {
      padding-inline-start: 22px;
    }
  }

  .highlight {
    color: #e785ff;
    font-weight: 800;
  }

  .profile {
    margin-top: 68px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.projects {
  margin-top: 60px;

  .container {
    width: 50%;
    margin: auto;
  }

  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 30px;
    row-gap: 30px;
  }

  .heading {
    font-size: 48px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: var(--fg-color);
  }

  @media (tablet-sm-portrait) {
    .grid {
      grid-template-columns: 1fr;
    }

    .heading {
      font-size: 48px;
      font-weight: bold;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: left;
      color: var(--fg-color);
    }

    @media (phone-lg-portrait) {
      .heading {
        font-size: 40px;
      }
    }
  }
}

.contact {
  margin-top: 80px;

  .heading {
    font-size: 48px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: var(--fg-color);
  }

  .text {
    font-size: 20px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: var(--text-color);
  }

  @media (phone-lg-portrait) {
    .text {
      font-size: 18px;
    }
  }

  @media (phone-sm-portrait) {
    .text {
      font-size: 14px;
    }
  }

  .email {
    color: #e785ff;
    font-weight: 800;
  }

  .link {
    color: var(--text-color);
  }

  @media (tablet-sm-portrait) {
    .heading {
      font-size: 48px;
      font-weight: bold;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: left;
      color: var(--fg-color);
    }

    @media (phone-lg-portrait) {
      .heading {
        font-size: 40px;
      }
    }
  }
}