.home {

}

.container {
  width: 50%;
  margin: auto;
}


.header {
  margin-top: 100px;
  
  .title {
    margin: 0px;
    padding: 0px;

    font-size: 64px;
    font-weight: 800;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #fff;

    .purple {
      color: #E785FF;
    }
  }

  .content {
    font-size: 24px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #d3d3d3;
    max-width: 480px;
  }
}

.section {
  margin-top: 84px;

  .heading {
    font-size: 36px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #fff;
  }

  .skills {
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 30px;
    row-gap: 30px;
  }
}