@value tablet-sm-portrait from "@/app/breakpoints.module.css";
@value phone-lg-portrait from "@/app/breakpoints.module.css";

.header {
  margin-top: 100px;
  
  .title {
    margin: 0px;
    padding: 0px;

    font-size: 64px;
    font-weight: 800;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: var(--fg-color);

    .purple {
      color: #E785FF;
    }
  }

  @media (tablet-sm-portrait) {
    .title {
      font-size: 52px;
    }
  }

  .content {
    font-size: 24px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: var(--text-color);
    max-width: 480px;
  }

  @media (phone-lg-portrait) {
    .content {
      font-size: 20px;
    }
  }
}

.skills {
  margin-top: 84px;

  .heading {
    font-size: 36px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: var(--fg-color);
  }

  .grid {
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 30px;
    row-gap: 30px;
  }

  @media (tablet-sm-portrait) {
    .grid {
      grid-template-columns: auto;
    }
  }
}