.footer {
  margin-top: 100px;
  
  .container {
    height: 160px;
    display: flex;
    justify-content: center;
    align-items: center;

    .text {
      font-style: normal;
      font-weight: 700;
      font-size: 12px;
      line-height: 19px;
      color: var(--fg-color);
    }
  }
}