@value phone-lg-portrait from "@/app/breakpoints.module.css";

.nav {
  margin: 42px 0px;
  display: flex;
}

.container {
  display: flex;
}

.link {
  color: var(--fg-color);
  text-decoration: none;
  font-family: var(--font-inter);
  font-size: 12px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  border: 1px solid #7F7F7F;
  border-radius: 8px;
  width: 80px;
  height: 30px;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin-right: 18px;
}

@media (phone-lg-portrait) {
  .link {
    font-size: 10px;
    width: 50px;
    margin-right: 8px;
  }
}

.link:hover {
  border: 1px solid #9f9f9f;
  background-color: var(--btn-highlight);
}

.mode {
  border: 1px solid #7F7F7F;
  border-radius: 8px;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  margin-left: auto;
}

.mode:hover {
  border: 1px solid #9f9f9f;
  background-color: var(--btn-highlight);
}